<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div class="container" id="container-app">
        

        <button @click="count++">
            Count is: {{ count }}
        </button>
 
        <br>
        <input type="text" v-model="username">
        <br>
        <h1>hola {{ username }}</h1>
        <input type="" v-model="num1">
        <input type="" v-model="num2">


        <button @click="hi">Sumar</button>

        <h1 v-if="result!=0">
            resultado: {{ result }}
        </h1>

       
    </div>

    <script>
        
        const { createApp, ref } = Vue;
        
        const app = createApp({
            setup() {
                const username = ref('');
                const num1 = ref(0);
                const num2 = ref(0);
                const result = ref(0);

                return {
                    count: ref(0),
                    username,
                    num1,
                    num2,
                    result,
                };
            },
            methods: {
                hi() {
                    this.result = (+this.num1) + (+this.num2);
                }
            }
        });

        app.mount('#container-app');
    </script>
</body>
</html>
