<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900">

    <div class="container p-32 " id="container-app">
        
      

<form v-if="!access">
    <div class="mb-6">
      <label  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Correo</label>
      <input type="email" v-model="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@gmail.com" required>
    </div>
    <div class="mb-6">
      <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contraseña</label>
      <input type="password" v-model="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
    </div>
    <div class="flex items-start mb-6">
      <div class="flex items-center h-5">
        <input id="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" required>
      </div>
      <label  class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Recuerdame</label>
    </div>
    <button type="button" @click="login" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Entrar</button>
  </form>
  


        <div v-if="access" class="relative overflow-x-auto">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Nombre
                        </th>
                        <th scope="col" class="px-6 py-3">
                           Apellido
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Correo
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Telefono
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr v-for="u in users" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="px-6 py-4">
                            {{u.name}}
                         </td>
                        <td class="px-6 py-4">
                           {{u.lastname}}
                        </td>
                        <td class="px-6 py-4">
                            {{u.email}}
                        </td>
                        <td class="px-6 py-4">
                            {{u.phone}}
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
        


    <script>
        
        const { createApp, ref } = Vue;
        
        const app = createApp({
            setup() {
            email = ref('annakaryvega@gmail.com'), 
            password= ref('123'),
            users = ref([]),
            access = ref(localStorage.getItem('is_login') ?? false); 
                
                return {
                email,
                password,
                access,
                users
                };
            },

            async mounted(){

const update = async () =>{
    const response = await fetch("users.json");
     this.users = await response.json();
 }
 
 if(this.access){
    update();
 }
},
            methods: {
              async login(){
                const response = await fetch("users.json");
                this.users = await response.json();

                

                this.users.forEach((users) => {
                   if (this.email == users.email){
                    if(this.password == users.password){

                        alert("Bienvenido "+ users.name)

                        localStorage.setItem("is_login", true);
                        localStorage.setItem("user_data", JSON.stringify(users));

                        this.access = true;
                    }
                   }
                })
                if(!this.access){
                    alert("verifique su información")
                }
               }
            
              
            }
        });

        app.mount('#container-app');
    </script>
</body>
</html>
